@import url("fonts/style.css");

body {
    margin: 0;
    padding: 0;
    font-family: 'Proxima Nova';
    font-style: normal;
}

:root {
    --light-main-color: #FFFFFF;
    --dark-main-color: rgba(30, 46, 54, 1);
    --details-first-color: #44C697;
    --details-second-color: #FF1B1B;
    --details-third-color: rgba(188, 189, 187, 1);
  }

.header {
    background-color: var(--light-main-color);
    color: var(--dark-main-color);
    width: 100%;
    font-size: 0.9rem;
}

.header-upper {
    display: flex;
    flex-direction: raw;
    justify-content: space-between;
    align-items: baseline;
    padding: 0.5% 3%;
    border-bottom: solid;
    border-color: rgba(30, 46, 54, 0.6);
}

.header-upper-left-container {
    display: flex;
    flex-direction: raw;
    min-width: 38%;
    align-items: center;
}

.header-upper-left-container-links {
    display: flex;
    flex-direction: raw;
    align-items: center;
    margin-left: 1%;
    margin-right: 10%;
}

.header-link-group {
    display: flex;
    flex-direction: raw;
    align-items: center;
    min-width: 28%;
    justify-content: space-between;
}

.header-upper-right-container {
    display: flex;
    flex-direction: raw;
    justify-content: flex-end;
    min-width: 35%;
    font-weight: 700;
    align-items: baseline;
}

.header-link {
    margin-left: 3%;
    color: var(--dark-main-color);
    text-decoration: none;
    font-weight: 700;
}

.link-page-mark {
    background: linear-gradient(to top, var(--details-first-color) 10%, rgb(255, 255, 128, 0) 10%);
    padding-bottom: 1%;
}

.header-icon-link {
    margin-right: 3%;
}

.header-text {
    font-weight: 700;
}

.header-icon {
    width: 0.9rem;;
    height: 0.9rem;
}

.header-bottom {
    display: flex;
    flex-direction: raw;
    padding: 1% 3%;
    justify-content: space-between;
}

.header-bottom-links {
    display: flex;
    flex-direction: raw;
    justify-content: space-between;
    min-width: 36%;
    align-items: center;

}

.header-bottom-link {
    color: var(--dark-main-color);
    text-decoration: none;
    font-weight: 700;
}

.header-bottom-logo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 20%;
    align-items: center;
    margin-right: 10%;
}

.header-bottom-logo-text {
    margin-left: 5%;
}

.header-bottom-logo-text-details {
    color: var(--details-first-color);
}

.header-bottom-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-button, .header-callback-button {
    height: 60%;
    border: none;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
}

.header-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--light-main-color);
}

.header-callback-button {
    border-radius: 3px;
    background-color: var(--details-first-color);
    color: var(--light-main-color);
} 

.slider-container {
    background-image: url('img/Rectangle\ 137.jpg');
    background-size: cover;
    min-height: 785px;
    display: flex;
    flex-direction: row;
    padding-left: 3%;
    max-width: 100%;
    color: var(--dark-main-color);
}

.slider-and-border-container {
    display: flex;
    flex-direction: row;
    padding-bottom: 10%;
    width: 30%;
}

.slider {
    background-color: var(--light-main-color);
    display: flex;
    flex-direction: row;
    flex-direction: column;
    align-items: center;
    padding: 5% 10%;
    justify-content: flex-start;
    background: linear-gradient(to right, var(--details-first-color) 2%, var(--light-main-color) 2%);
}

.slider-heading {
    font-weight: 700;
    font-size: 3rem;
    line-height: 100%;
    margin-bottom: 0;
}

.slider-main-text {
    font-weight: 700;
    font-size: 1.75rem;
    margin-bottom: 3%;
    margin-top: 16%;
}

.slider-text {
    font-size: 1.75rem;
    text-align: center;
    margin-top: 0; 
}

.slider-button {
    font-weight: 700;
    font-size: 1rem;
    width: 50%;
    min-height: 8%;
    border: none;
    background-color: var(--details-first-color);
    color: var(--light-main-color);
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    margin-bottom: 10%;
}

.slider-count-number {
    font-weight: 700;
    font-size: 2rem;
}

.slider-count-ammount {
    font-weight: 700;
    font-size: 1.25rem;
}

.slider-count {
    margin-bottom: 1%;
}

.strengths-container {
    background-color: var(--light-main-color);
    padding-top: 5%;
    color: var(--dark-main-color);
    min-height: 462px;
}

.heading-container {
    display: flex;
    justify-content: center;
}

.main-heading {
    font-weight: 700;
    font-size: 3rem;
    background: linear-gradient(to right, var(--details-first-color) 15px, var(--light-main-color) 15px);
}

.strengths-items-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
}

.first-item {
    background-image: url("img/Rectangle\ 172.png");
}

.second-item {
    background-image: url("img/Rectangle\ 169.png");
}

.third-item {
    background-image: url("img/Rectangle\ 170.png");
}

.strengths-item {
    background-size: cover;
    width: 28%;
    min-height: 15rem;
    margin-bottom: 0;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
}

.strengths-items-icon-left {
    position: absolute;
    align-self: center;
    justify-self: flex-start;
    margin-left: 1%;
}

.strengths-items-icon-right {
    position: absolute;
    align-self: center; 
    right: 4%;
} 

.strengths-item-heading {
    font-weight: 700;
    font-size: 2rem;
    color: var(--light-main-color);
    padding: 1%;
    width: max-content;
    background: linear-gradient(to top, var(--details-first-color) 5%, rgb(255, 255, 128, 0) 5%);
}

.strengths-item-text {
    font-weight: 400;
    font-size: 1rem;
    color: var(--light-main-color);
    margin-top: 0;
}

.goods-categories-container {
    background-color: var(--light-main-color);
    padding: 3%;
}

.goods-categories-links-container {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
}

.goods-categories-link {
    text-decoration: none;
    text-align: center;
}

.goods-categories-link-text {
    margin-top: 0;
    font-weight: 700;
    font-size: 1.7rem;
    text-align: center;
    color: var(--dark-main-color);

}

.page-mark {
    background: linear-gradient(to top, var(--details-first-color) 5%, rgb(255, 255, 128, 0) 5%);
}

.ramona {
    background-image: url("img/Rectangle\ 140.jpg"); 
}

.chester {
    background-image: url("img/Rectangle\ 141.jpg"); 
}

.venecia {
    background-image: url("img/Rectangle\ 142.jpg"); 
}

.imperia {
    background-image: url("img/Rectangle\ 149.jpg"); 
}

.adel {
    background-image: url("img/Rectangle\ 151.png"); 
}

.atlant {
    background-image: url("img/Rectangle\ 150.jpg"); 
}

.goods-categories-catalog-items-container {
    width: 29%;
    min-height: 15rem;
    margin-bottom: 0;
    margin-top: 0;
    padding: 2%;
    padding-left: 0;
}

/* .goods-categories-catalog-item :hover {
    height: 16rem;
    
} */

.goods-categories-catalog-item-text-container {
    background-size: cover;
    background-position-x: center;
    width: 100%;
    min-height: 15rem;
    padding: 2%;
    padding-left: 0;
}

.goods-categories-catalog-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.goods-categories-catalog-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 3%;
}

.goods-categories-catalog-description-text, .goods-categories-catalog-description-text-details {
    font-weight: 700;
    font-size: 1.25rem;
    color: var(--dark-main-color);
}

.past-price {
    font-size: 0.9rem;
    color: var(--details-third-color);
    text-decoration: line-through;
}

.new-price {
    color: var(--details-second-color);
}

.goods-categories-catalog-item-text {
    font-weight: 700;
    font-size: 1rem;
    background-color: var(--dark-main-color);
    padding: 1% 3%;
    width: max-content;
    margin-left: 0;
    color: var(--light-main-color);
}

.sale {
    background-color: var(--details-second-color);
}

.goods-categories-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3% 0;
}

.goods-categories-button {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    color: var(--light-main-color);
    background-color: var(--details-first-color);
    border: none;
    padding: 1% 3%;
}

.about-us-main-container {
    min-height: 700px;
    background-color: gray;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.about-us-photo-block {
    background-image: url(img/Rectangle\ 174.jpg);
    background-size: cover;
    background-position-x: 30% 70%;
    background-repeat: no-repeat;
    min-height: 600px;
    width: 80%;
}

.about-us-text-block {
    position: absolute;
    left: 3%;
    max-width: 30%;
    max-height: 40%;
    display: flex;
    flex-direction: row-reverse;
    padding: 3%;
    background: linear-gradient(to left, var(--details-first-color) 2%, var(--light-main-color) 2%);

    
}

.about-us-text-block-content {
    left: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 0.85rem;
    text-align: justify;
}

.about-us-text-block-content-text-details {
    font-weight: 700;
    color: var(--details-first-color);
    text-transform: uppercase;
}

