@import url("fonts/style.css");

body {
    margin: 0;
    padding: 0;
    font-family: 'Proxima Nova';
    font-style: normal;
    overflow-x: hidden;
}

:root {
    --light-main-color: #FFFFFF;
    --dark-main-color: rgba(30, 46, 54, 1);
    --details-first-color: #44C697;
    --details-second-color: #FF1B1B;
    --details-third-color: rgba(188, 189, 187, 1);
    --dark-main-color-background: rgba(30, 46, 54, 0.2);
  }

.header {
    background-color: var(--light-main-color);
    color: var(--dark-main-color);
    width: 100%;
    font-size: 0.9rem;
}

.header-upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 0.5% 3%;
    border-bottom: solid;
    border-color: rgba(30, 46, 54, 0.6);
}

.header-upper-left-container {
    display: flex;
    flex-direction: row;
    min-width: 38%;
    align-items: center;
}

.header-upper-left-container-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1%;
    margin-right: 10%;
}

.header-link-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 28%;
    justify-content: space-between;
}

.header-upper-right-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    min-width: 35%;
    font-weight: 700;
    align-items: baseline;
}

.header-link {
    margin-left: 3%;
    color: var(--dark-main-color);
    text-decoration: none;
    font-weight: 700;
}

.phone-number {
    min-width: 160px;
}

.link-page-mark {
    background: linear-gradient(to top, var(--details-first-color) 10%, rgb(255, 255, 128, 0) 10%);
    padding-bottom: 1%;
}

.header-icon-link {
    margin-right: 3%;
}

.header-text {
    font-weight: 700;
}

.header-icon {
    width: 0.9rem;;
    height: 0.9rem;
}

.header-bottom {
    display: flex;
    flex-direction: raw;
    padding: 1% 3%;
    justify-content: space-between;
}

.header-bottom-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 36%;
    align-items: flex-start; 

}

.header-bottom-link {
    color: var(--dark-main-color);
    text-decoration: none;
    font-weight: 700;
}

.header-bottom-logo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 20%;
    align-items: center;
    margin-right: 10%;
}

.header-bottom-logo-text {
    margin-left: 5%;
}

.header-bottom-logo-text-details {
    color: var(--details-first-color);
}

.header-bottom-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-button, .header-callback-button {
    height: 60%;
    border: none;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
}

.header-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--light-main-color);
}

.header-callback-button {
    border-radius: 3px;
    background-color: var(--details-first-color);
    color: var(--light-main-color);
} 

.slider-container {
    background-image: url('img/Rectangle\ 137.jpg');
    background-size: cover;
    height: 785px;
    display: flex;
    flex-direction: row;
    padding-left: 3%;
    max-width: 100%;
    color: var(--dark-main-color);
}

.slider-and-border-container {
    display: flex;
    flex-direction: row;
    padding-bottom: 10%;
    width: 30%;
}

.slider {
    background-color: var(--light-main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 10%;
    justify-content: flex-start;
    background: linear-gradient(to right, var(--details-first-color) 2%, var(--light-main-color) 2%);
}

.slider-heading {
    font-weight: 700;
    font-size: 3rem;
    line-height: 100%;
    margin-bottom: 0;
}

.slider-main-text {
    font-weight: 700;
    font-size: 1.75rem;
    margin-bottom: 3%;
    margin-top: 16%;
}

.slider-text {
    font-size: 1.75rem;
    text-align: center;
    margin-top: 0; 
}

.slider-button {
    font-weight: 700;
    font-size: 1rem;
    width: 50%;
    min-height: 8%;
    border: none;
    background-color: var(--details-first-color);
    color: var(--light-main-color);
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    margin-bottom: 10%;
}

.slider-count-number {
    font-weight: 700;
    font-size: 2rem;
}

.slider-count-ammount {
    font-weight: 700;
    font-size: 1.25rem;
}

.slider-count {
    margin-bottom: 1%;
}

.strengths-container {
    background-color: var(--light-main-color);
    padding-top: 5%;
    color: var(--dark-main-color);
    min-height: 462px;
    overflow: hidden;
}

.heading-container {
    display: flex;
    justify-content: center;
}

.main-heading {
    font-weight: 700;
    font-size: 3rem;
    background: linear-gradient(to right, var(--details-first-color) 15px, var(--light-main-color) 15px);
}

.strengths-carousel-slider {
    width: 100%;
    height: 40%;
    position: absolute;
    left: 0;
    background-color: var(--light-main-color);
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    -webkit-transition: -webkit-transform 1600ms;
 }
  

  .strengths-carousel-slider-inner1 {
    background-image: url("img/Rectangle\ 172.png");
  }

  .strengths-carousel-slider-inner2 {
    background-image: url("img/Rectangle\ 169.png");
  }

  .strengths-carousel-slider-inner3 {
    background-image: url("img/Rectangle\ 170.png");
  }


.strengths-carousel-slider-inner3, .strengths-carousel-slider-inner2, .strengths-carousel-slider-inner1 {
    background-size: cover;
    width: 27%;
    min-height: 15rem;
    margin-bottom: 0;
    padding: 2.5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
}

  .strengths-carousel-slide1 , .strengths-carousel-slide2 , .strengths-carousel-slide3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .strengths-carousel-slide1 {
    left: 0;
  }
  
  .strengths-carousel-slide2 {
    left: 100%
  }
  
  .strengths-carousel-slide3 {
    left: 200%
  }
  .strengths-carousel-slider .button {
    -webkit-transition: opacity 800ms, -webkit-transform 800ms;
    transition: transform 800ms, opacity 800ms;
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
  }

  .control {
    position: absolute;
    width: 50px;
    z-index: 55;
  }
  
  .control label {
    z-index: 0;
    display: none;
    font-size: 50px;
    cursor: pointer;
  }

  .control {
    height: 40%;
    display: flex;
    align-items: center;
  }
  
  .control label:hover {
    opacity: 0.5;
  }

  
  .next {
    right: 1%;
  }
  
  .previous {
    left: 1%;
  }
  
  .strengths-carousel-slider-pagination {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    z-index: 1000;
  }
  
  .strengths-carousel-slide-radio1:checked~.previous .strengths-carousel-numb1,
  .strengths-carousel-slide-radio1:checked~.next .strengths-carousel-numb2,
  .strengths-carousel-slide-radio2:checked~.next .strengths-carousel-numb3,
  .strengths-carousel-slide-radio3:checked~.next .strengths-carousel-numb3,
  .strengths-carousel-slide-radio2:checked~.previous .strengths-carousel-numb1,
  .strengths-carousel-slide-radio3:checked~.previous .strengths-carousel-numb2 {
    display: block;

  }
  
  .strengths-carousel-slide-radio1:checked~.strengths-carousel-slider {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  
  .strengths-carousel-slide-radio2:checked~.strengths-carousel-slider {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  
  .strengths-carousel-slide-radio3:checked~.strengths-carousel-slider {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
  }

.checkbox {
    opacity: 0;
}

.strengths-items-icon-left {
    position: absolute;
    align-self: center;
    justify-self: flex-start;
    margin-left: 1%;
}

.strengths-items-icon-right {
    position: absolute;
    align-self: center; 
    right: 4%;
} 

.strengths-item-heading {
    font-weight: 700;
    font-size: 2rem;
    color: var(--light-main-color);
    padding: 1%;
    width: max-content;
    background: linear-gradient(to top, var(--details-first-color) 5%, rgb(255, 255, 128, 0) 5%);
}

.strengths-item-text {
    font-weight: 400;
    font-size: 1rem;
    color: var(--light-main-color);
    margin-top: 0;
}

.goods-categories-container {
    background-color: var(--light-main-color);
    padding: 3%;
}

.goods-categories-links-container {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
}

.goods-categories-link {
    text-decoration: none;
    text-align: center;
}

.goods-categories-link-text {
    margin-top: 0;
    font-weight: 700;
    font-size: 1.7rem;
    text-align: center;
    color: var(--dark-main-color);

}

.page-mark {
    background: linear-gradient(to top, var(--details-first-color) 5%, rgb(255, 255, 128, 0) 5%);
}

.ramona {
    background-image: url("img/Rectangle\ 140.jpg"); 
}

.chester {
    background-image: url("img/Rectangle\ 141.jpg"); 
}

.venecia {
    background-image: url("img/Rectangle\ 142.jpg"); 
}

.imperia {
    background-image: url("img/Rectangle\ 149.jpg"); 
}

.adel {
    background-image: url("img/Rectangle\ 151.png"); 
}

.atlant {
    background-image: url("img/Rectangle\ 150.jpg"); 
}

.goods-categories-catalog-items-container {
    width: 29%;
    min-height: 15rem;
    margin-bottom: 0;
    margin-top: 0;
    padding: 2%;
    padding-left: 0;
}

.goods-categories-catalog-item-text-container {
    background-size: cover;
    background-position-x: center;
    width: 100%;
    min-height: 15rem;
    padding: 2%;
    padding-left: 0;
}

.goods-categories-catalog-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.goods-categories-catalog-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 3%;
}

.goods-categories-catalog-description-text, .goods-categories-catalog-description-text-details {
    font-weight: 700;
    font-size: 1.25rem;
    color: var(--dark-main-color);
}

.past-price {
    font-size: 0.9rem;
    color: var(--details-third-color);
    text-decoration: line-through;
}

.new-price {
    color: var(--details-second-color);
}

.goods-categories-catalog-item-text {
    font-weight: 700;
    font-size: 1rem;
    background-color: var(--dark-main-color);
    padding: 1% 3%;
    width: max-content;
    margin-left: 0;
    color: var(--light-main-color);
}

.sale {
    background-color: var(--details-second-color);
}

.goods-categories-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3% 0;
}

.goods-categories-button {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    color: var(--light-main-color);
    background-color: var(--details-first-color);
    border: none;
    padding: 1% 3%;
}

.about-us-main-container {
    min-height: 700px;
    background-color: var(--light-main-color);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.about-us-photo-block {
    background-image: url(img/Rectangle\ 174.jpg);
    background-size: cover;
    background-position-x: 30% 70%;
    background-repeat: no-repeat;
    min-height: 600px;
    width: 80%;
}

.about-us-text-block {
    position: absolute;
    left: 3%;
    max-width: 30%;
    max-height: 40%;
    display: flex;
    flex-direction: row-reverse;
    padding: 3%;
    background: linear-gradient(to left, var(--details-first-color) 2%, var(--light-main-color) 2%);

    
}

.about-us-text-block-content {
    left: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 0.85rem;
    text-align: justify;
}

.about-us-text-block-content-text-details {
    font-weight: 700;
    color: var(--details-first-color);
    text-transform: uppercase;
}



.contact-us-main-container {
    min-height: 700px;
    background-color: var(--light-main-color);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.contact-us-photo-block {
    background-image: url(img/Rectangle\ 175.jpg);
    background-size: cover;
    background-position-x: 50% 50%;
    background-repeat: no-repeat;
    min-height: 600px;
    width: 85%;
}

.contact-us-text-block {
    position: absolute;
    right: 3%;
    max-width: 25%;
    max-height: 40%;
    display: flex;
    flex-direction: column;
    padding: 3%;
    background: linear-gradient(to right, var(--details-first-color) 2%, var(--light-main-color) 2%);
}

.contact-us-text-block-content-heading {
    font-weight: 700;
    font-size: 2rem;
    margin-top: 0;
}

.contact-us-text-block-content-input, .contact-us-text-block-content-button {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: 2%;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 3%;
    font-family: 'Proxima Nova';
    font-style: normal;
    
}

.contact-us-text-block-content-button {
    border: none;
    background-color: var(--details-first-color);
    color: var(--light-main-color);
    font-weight: 700;
}

.contact-us-text-block-content-text {
    text-align: left;
    font-weight: 400;
}

.contact-us-text-block-content-link {
    text-decoration: none;
    font-weight: 700;
    color: var(--dark-main-color);
}

.back-arrow {
    position: absolute;
}

.footer {
    background-color: var(--dark-main-color);
    margin-top: 5%;
    display: flex;
    flex-direction: row;
}

.footer-text-block {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 2.5%;
}

.footer-image-block {
    background-image: url(img/Rectangle\ 176.png);
    background-size: cover;
    background-position-x: 30% 70%;
    background-repeat: no-repeat;
    min-height: 400px;
    width: 60%;

}

.footer-text-block-heading {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 0;
    align-items: center;
}

.footer-text-block-heading-text {
    font-weight: 700;
    font-size: 3rem;
    color: var(--light-main-color);
    margin-left: 2%;
}

.footer-text-block-heading-text-details {
    color: var(--details-first-color);
}

.footer-text-and-links-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-text-block-links-container {
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.footer-text-block-links-left-container, .footer-text-block-links-right-container {
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: space-evenly;
}

.footer-text-block-links-right-container {
    padding-bottom: 25%;
}

.footer-text-block-link {
    color: var(--light-main-color);
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
}

.footer-text-block-link-details {
    color: var(--details-first-color);
}

.footer-text-block-contacts-container {
    margin-right: 6%;
}

.footer-text-block-contact {
    font-weight: 400;
    font-size: 1rem;
    color: var(--light-main-color);
}

.footer-text-block-contact-link {
    text-decoration: none;
}

.footer-link-icons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-text-block-bottom-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5%;
    justify-content: space-between;
    padding-right: 5%;
}

.footer-text-block-bottom-text {
    font-weight: 400;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    color: var(--light-main-color);
}

/* АДАПТИВКА,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */

@media screen and (max-width: 1100px) {
    .header-bottom-logo-container {
        margin-right: 1%;
    }
    .header {
        font-size: 0.7rem;
    }
    .header-upper-left-container-links {
        margin-right: 2%;
    }
    .phone-number {
        min-width: 120px;
    }
    .slider-and-border-container {
        width: 55%;
    }
    .strengths-item-heading {
        font-size: 1.2rem;
    }
    .strengths-item-text {
        font-size: 0.5rem;
    }
}

@media screen and (max-width: 900px) {
    .slider-and-border-container {
        width: 60%;
    }
}

@media screen and (max-width: 700px) {
    .header-bottom {
        flex-direction: column;
    }
    .header-bottom-logo-container {
        justify-content: center;
    }
    .header-bottom-logo {
        max-width: 50px1;
    }
    .slider-heading {
        font-size: 1.5rem;
    }
    .slider-main-text{
        font-size: 1rem;
    }
    .slider-text , .slider-button  {
        font-size: 0.8rem;
    }
}


@media screen and (max-width: 600px) {
    .header-upper, .header-bottom {
        flex-direction: column;
    }
    .header-upper-left-container, .header-upper-right-container {
        width: 100%;
        justify-content: center;

    }
   .header-bottom-logo-container, .header-bottom-button-container {
        align-self: center;
    }
    .header-bottom-logo {
        max-width: 50px;
    }
    .header-bottom-links {
        margin-top: 3%;
    }
    .strengths-carousel-slider-inner3, .strengths-carousel-slider-inner2, .strengths-carousel-slider-inner1 {
        width: 100%;
        position: absolute;
        background-position: bottom;
    }
    .strengths-carousel-slider {
        overflow: hidden;
    }
    .strengths-item-heading , .strengths-item-text {
        margin-right: 10px;
    }
    .main-heading {
        font-size: 2rem;
    }

}

@media  screen and (max-width: 450px) {
    .slider-and-border-container {
        max-height: 400px;
        width: 80%;
    }
    .slider-container {
        height: 400px;
    }

} 

@media  screen and (max-width: 400px) {
    .header-bottom-links, .header-upper-right-container {
        flex-direction: column;
        align-items: flex-start;
    }
    .header-upper-right-container {
        margin-bottom: 2%;
    }
    .header-bottom-link, .link-adaptive {
        background-color: var(--dark-main-color-background);
        width: 100%;
        margin-bottom: 1%;
    }
    .link-adaptive {
        margin-left: 0;
    }
   .header-bottom-button-container {
    margin-bottom: 5%;
    }
}


